@font-face {
  font-family: VarianeScript;
  src:url(/public/fonts/work-ins-studio_variane-script/Variane_Script.woff);
}

main {
  height:100%;
  background-image: url(/public/images/vacation_flight.jpg) !important;
  background-size:cover !important;
}

.container {
  padding-top: 80px;
  min-height: 640px;
  margin-bottom: 24px;
  display: block;
  padding: 50px;
  color: #ffffff;
  position: relative;

  h2{
    font-family: Arial;
  }
}

.packing-list {
  background:rgba(0,0,0,.5);
  margin-top:100px;
  padding-top:5px;
  padding-left: 30px;
  height: 570px;
  width:100%;
}