.packing-list h2 {
  float: left;
}
.packing-list p {
  float: right;
  margin-right:10px;
  margin-top:20px;
}
h1 {
  color: rgba(0, 0, 0, 0.3);
  font-family: VarianeScript;
  font-size:40px;
}
input {
  border-radius:25px;
  padding-left:25px;
  font-family: Arial;
  font-size:24px;
  color: #666666;
  width:100%;
}